body{
    font-family: sans-serif;
    color: #dfdfdf;
}
.card{
    width: 30%;
    margin: auto;
    border-radius:3px;
    box-shadow: 0px 0px 40px black;
    padding: 30px;
    background-color: white;
}
.card-title{
    font-weight: bold;
    text-align: center;
    color: gray;
}
.card-form input{
    width: 100%;
    padding: 10px 2px;
    border-bottom: 1px solid gray;
    font-size: 12px;
}
.card-acoes button{
border: none;
padding: 15px;
font-size: 12px;
margin: 20px 0px 0px 0px;
color: gray;
border: 1px solid gray;
border-radius: 30px;
cursor: pointer;
transition: .0s;
}
.card-acoes button:hover{
    background-color: gray;
    color:white;
    font-weight: bold;
    box-shadow: 0px 2px 10px gray;
}
.item-lista{
    padding: 10px 20px;
}
.item-lista img{
    width: 20px;
    float: right;
}